:root {
 /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;*/

/*  me styles */
/*  Colors*/
/*   Primary*/
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);

  /*### Neutral*/
  --white: hsl(0, 0%, 100%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
--light-grayish-blue-1: hsl(211, 68%, 94%);
--selago: hsl(228, 71%, 99%);
--light-grayish-blue-2: hsl(205, 33%, 90%);
--light-grayish-blue-3: hsl(206, 64%, 98%);
--grayish-blue: hsl(219, 14%, 63%);
--dark-grayish-blue: hsl(219, 12%, 42%);
--very-dark-blue: hsl(224, 21%, 14%);
  --catalina-blue:hsl(217, 88%, 25%);
  --kashmir-blue:hsl(212, 31%, 42%);

/*  font size */
--fs-body-18 : 18px;
--fs-body-16 : 16px;
--fs-body-14 : 14px;

/*  font family */
  --ff-primary:'Plus Jakarta Sans', sans-serif;

  --ff-body:var(--ff-primary);

/*  font weight */
  --fw-semi-bold:500;
  --fw-bold:800;
}

html,
body{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  height:100%;
  width: 100%;
}

body{
  box-sizing:border-box;
  font-size: var(--fs-body-16);
  font-family: var(--ff-body);
  position: relative;
}

/* general styling */
@media (min-width: 768px) {
  body {
    background-color: var(--selago);
    font-size: var(--fs-body-14);
  }
  .main-section {
    background-color: var(--white);
    width: 55%;
    /*width: min(200px,500px);*/
    height: 100%;
    margin-top: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
  }
  .notifications-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .notifications-title {
    /*margin-left: -140px !important;*/
    margin-left: 30px !important;
  }
  .notifications-title-2 {
    /*margin-right: -150px !important;*/
    margin-right: 30px !important;
  }
  .notifications-divs {
    display: flex;
    flex-direction: column;
  }
  .mark-webber-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--light-grayish-blue-3);
    margin: 8px 25px 10px;
    /*padding:2px 8px;*/
    border-radius: 10px;
    position: relative;
  }
  .avatar-mark-webber {
    /*margin-top: 0px !important;
    margin-left: -120px !important;*/
    position: absolute;
    left:2%;
    top:45%;
  }
  .margin-mark-paragraph {
    margin-left: 40px !important;
  }
  .angela-gray-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-grayish-blue-3);
    margin: 0 25px 10px;
    /*padding:1px;*/
    border-radius: 10px;
  }
  .avatar-angela-gray {
    position: absolute;
    left:17%;
  }
  .margin-angela-paragraph {
    margin-left: 80px !important;
  }
  .jacob-thompson-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-grayish-blue-3);
    margin: 0 25px 10px;
    /*padding:1px;*/
    border-radius: 10px;
  }
  .avatar-jacob-thompson {
    position: absolute;
    left:11%;
    top:42%;
  }
  .margin-jacob-paragraph {
    margin-left: 80px !important;
  }
  .rizky-div {
    display: grid;
    gap:0.1rem;
    /*grid-template-columns: 20% 76%;*/
    grid-template-columns: 14% 82%;
  }
  .avatar-rizky {
    margin-left: 45px !important;
    /*margin-top: 16px;*/
  }
  .grid-column-dimension {
    grid-column:2 / 3;
  }
  .rizky-div p:nth-child(3) {
    border: 1px solid var(--light-grayish-blue-2);
    border-radius: 5px;
    padding: 20px;
    margin-right: 21px;
    margin-top: -2px;
  }
  .kimberly-smith-div {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin:22px 8px 10px 5px;
    /*padding:1px;*/
    /*border-radius: 10px;*/
  }
  .avatar-kimberly{
    /*margin-left: -110px;*/
    position: absolute;
    left:6%;
  }
  .margin-smith-paragraph{
    margin-left:-32% !important;
  }
  .kimberly-smith-div img:nth-child(3) {
    /*margin-right: -50px;*/
    position: absolute;
    right:7%;
  }
  .nathan-peterson-div{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 20px 10px;
  }
  .avatar-nathan {
    margin-left: 34px !important;
  }
}

@media (max-width: 460px) {
    .main-section {
      width: 100%;
      height:122%;
      /*overflow-y: scroll;*/
      overflow-x: auto;
    }
}

.number-three {
  background-color:var(--catalina-blue);
  color: var(--white);
  padding: 3px 12px;
  margin-left: 4px;
  border-radius: 5px;
  font-size: var(--fs-body-14);
}

@media (max-width: 460px) {
  .break-line::before {
    content: "\a";
    white-space: pre;
  }
  .notifications-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.notifications-title {
 margin-left:-20px;
}
.notifications-title-2 {
  margin-right: -20px;
}

@media (max-width: 460px) {
  .mark-webber-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--light-grayish-blue-3);
    margin: 10px;
    padding:2px 8px;
    border-radius: 10px;
  }

  .angela-gray-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--light-grayish-blue-3);
    margin: 10px;
    /*padding:1px;*/
    border-radius: 10px;
  }
  .jacob-thompson-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--light-grayish-blue-3);
    margin: 10px;
    /*padding:1px;*/
    border-radius: 10px;
  }
  .rizky-div {
      /* grid */
    display: grid;
    gap:0.1rem;
    grid-template-columns: 20% 80%;
  }

  .grid-column-dimension {
    grid-column:2 / 3;
  }

  .rizky-div p:nth-child(3) {
    border: 1px solid var(--light-grayish-blue-2);
    border-radius: 5px;
    padding: 13px;
    margin-right: 21px;
    margin-top: -2px;
  }

  .kimberly-smith-div {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin:22px 8px 10px 5px;
    /*padding:1px;*/
    border-radius: 10px;
  }
 .nathan-peterson-div {
   display: flex;
   justify-content: space-evenly;
   align-items: flex-start;
   margin: 20px 10px;
   /*padding:1px;*/
   border-radius: 10px;
 }
  .anna-kim-div{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin:0 10px 30px;
    /*padding:1px;*/
    border-radius: 10px;
  }
}

@media (max-width: 376px) {
  .break-line::before {
    content: "\a";
    white-space: pre;
  }
  .main-section{
    height:123%;
  }
  .notifications-header {
    margin-left: 12px;
    margin-right: 12px;
  }
  .notifications-title-2 {
    margin-right: -10px;
  }
  .margin-angela-paragraph {
    margin-right: -30px;
  }
  .margin-jacob-paragraph{
    margin-right: -30px;
  }
  .margin-smith-paragraph {
    margin-left: -30px;
  }
  .avatar-kimberly {
    margin-right: 8px;
  }

 .margin-nathan-paragraph {
   margin-left: 10px !important;
 }
 .avatar-nathan {
   margin-left: 6px !important;
 }
 .anna-paragraph {
   margin-left: 4px !important;
 }
  .notifications-title {
    margin-left:-10px;
  }
  .anna-kim-div {
    margin-bottom: 30px;
  }
}
@media (max-width: 350px) {
  .break-line::before {
    content: "\a";
    white-space: pre;
  }
  .main-section{
    font-size: var(--fs-body-14);
    width: 100%;
    overflow-x: hidden;
  }
  .notifications-header{
    width: 101%;
    /*margin-right: 25px;*/
    margin-left: 0px;
  }

  .notifications-title{
    margin-left: -8px;
    font-size: var(--fs-body-18);
  }
  .margin-mark-paragraph{
    margin-left: 12px !important; ;
  }
  .avatar-angela-gray {
    margin-left: -60px !important;
  }
  .margin-angela-paragraph{
    margin-left: -60px !important;
  }
  .avatar-jacob-thompson {
    margin-left: -22px !important;
  }
  .margin-jacob-paragraph{
    margin-left: -26px !important;
  }
  .anna-kim-div {
    margin-bottom: 25px;
  }
}

.margin-left-div-section {
  margin-left: 15px;
}

.avatar-img {
  width: 40px;
}

.avatar-mark-webber {
  padding-left: 6px;
  margin-top: -20px;
}
.avatar-angela-gray {
  margin-left: -80px;
}
.avatar-jacob-thompson {
  margin-left:-35px;
  margin-top: -10px;
}
.avatar-rizky {
  margin-left: 20px;
  margin-top: 16px;
}
.avatar-nathan {
  margin-left: 18px;
  /*margin-left: 10px;*/
}
.avatar-anna-kim {
  margin-left: -8px;
}
.avatar-kimberly {
  margin-right: 8px;
}
.red-dot {
  color: red;
  font-weight: var(--fw-bold);
}



















/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
